RewriteEngine On

DirectoryIndex includes/index.php

RewriteRule ^index.html$ includes/index.php [L]
RewriteRule ^cm.html$ includes/categorymanagement.php [L]
RewriteRule ^login.html$ includes/login.php [L]
RewriteRule ^signup.html$ register.php [L]
RewriteRule ^signout.html$ logout.php [L]


#controller Htaccess

RewriteRule ^c_reg.html$ controller/c_reg.php [L]
